.container{
    min-width: 1400px;
    max-width: 2000px;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    background-color: #f4f4f4;
    align-items: center;
    margin: auto;
    padding: 30px;
}