.container{
    width: 100%;
    max-width: 1800px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.title{
    margin-top: 45px;
}

.container .card{
    width: 330px;
    height: 430px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 10px;
    text-align: center;
    transition: all 0.25s;
}

.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card img{
    width: 80%;
    /* height: 220px; */
}


.container .card h4{
    font-weight: 600;
    user-select: none;
}

.container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
    user-select: none;

}

.container .card a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}

.add{
    width: max-content;
    font-size: medium;
    margin-inline: 20px;
    padding: 10px;
}
.add:hover{
    background-color: red;
}