.containernav{
    display: flex;
    width: 1200px;
    margin: 0;
    align-items: center;
    justify-content: space-evenly;
}
.searchBar{
    border-radius: 4px;
    border: 1px solid black;
    display: flex;
    padding: 5px;
    height: 40px;
    width: 600px;
    justify-content: space-between;
    
    /* max- */
}
.input{
    border: none;
    width: 500px;
    padding: 10px;
}
.input:focus {
    border: none;
}

.input:active {
    border: none;
}
button{
    background-color: black;
    color: white;
    border-radius: 4px;
    border-style: none;
    width: 40px;
    
}
button:hover{
    cursor: pointer;
}
.ingresa{
    display: flex;
    flex-direction: column;
}
.ingresa h5 h6{
    margin:0
}
.carrito{
    display: flex;
    /* flex-direction; */
}